body {
    /*$("body").height(window.innerHeight); */
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow: hidden;
    background-color: blanchedalmond;

    display: grid;
    place-items: center;
}

#wrapper {
    aspect-ratio: 1.618;
    width: 90vmin;
    position: relative;
}

#wrapper>.shape {
    width: 30%;
    height: 30%;
    background-color: rgb(30, 29, 29);
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}

#wrapper[data-style="1"]>.shape:nth-child(1) {
    border-radius: 50% 50% 0% 50% / 50% 50% 0% 50%;
}

#wrapper[data-style="2"]>.shape:nth-child(1) {
    border-radius: 48% 20% 32% 39% / 6% 72% 22% 79%;
}

#wrapper[data-style="1"]>.shape:nth-child(2) {
    border-radius: 50% 50% 50% 0% / 50% 50% 50% 50%;
}

#wrapper[data-style="2"]>.shape:nth-child(2) {
    border-radius: 63% 11% 32% 27% / 47% 86% 15% 46%;
}

#wrapper[data-style="1"]>.shape:nth-child(3) {
    border-radius: 50% 50% 50% 50% / 50% 0% 50% 50%;
}

#wrapper[data-style="2"]>.shape:nth-child(3) {
    border-radius: 21% 48% 16% 54% / 66% 55% 31% 27%;
}

#wrapper[data-style="1"]>.shape:nth-child(4) {
    border-radius: 50% 0% 25% 25% / 0% 50% 50% 50%;
}

#wrapper[data-style="2"]>.shape:nth-child(4) {
    border-radius: 16% 67% 10% 73% / 6% 41% 66% 58%;
}

#wrapper[data-style="1"]>.shape:nth-child(5) {
    border-radius: 50%;
    background-color: #c04141;
}

#wrapper[data-style="2"]>.shape:nth-child(5) {
    /* border-radius: 29% 28% 29% 28% / 16% 12% 33% 27%; */
    background-color: #c04141;
}

#wrapper[data-style="1"]>.shape:nth-child(6) {
    border-radius: 50% 50% 50% 0% / 50% 50% 50% 50%;
}

#wrapper[data-style="2"]>.shape:nth-child(6) {
    border-radius: 28% 29% 15% 52% / 29% 19% 30% 19%;
}

#wrapper[data-style="1"]>.shape:nth-child(7) {
    border-radius: 5px 30px 30px 5px;
}

#wrapper[data-style="2"]>.shape:nth-child(7) {
    border-radius: 52% 16% 39% 39% / 72% 12% 62% 12%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(1) {
    left: 0%;
    top: 9%;
    height: 40%;
    width: 25%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(1) {
    left: 2%;
    top: 0%;
    height: 100%;
    width: 18%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(2) {
    left: 26%;
    top: 9%;
    height: 40%;
    width: 25%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(2) {
    left: 19%;
    top: 5%;
    height: 91%;
    width: 12%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(3) {
    left: 0%;
    top: 51%;
    height: 40%;
    width: 25%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(3) {
    left: 30%;
    top: 0%;
    height: 100%;
    width: 20%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(4) {
    left: 26%;
    top: 51%;
    height: 40%;
    width: 50%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(4) {
    left: 49%;
    top: 8%;
    height: 84%;
    width: 12%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(5) {
    left: 52%;
    top: 9%;
    height: 40%;
    width: 25%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(5) {
    left: 62%;
    top: 0%;
    height: 98%;
    width: 15%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(6) {
    left: 77%;
    top: 51%;
    height: 40%;
    width: 25%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(6) {
    left: 79%;
    top: 3%;
    height: 91%;
    width: 10%;
}

#wrapper[data-configuration="1"]>.shape:nth-child(7) {
    left: 78%;
    top: 9%;
    height: 40%;
    width: 25%;
}

#wrapper[data-configuration="2"]>.shape:nth-child(7) {
    left: 88%;
    top: 9%;
    height: 80%;
    width: 11%;
}